# https://github.com/browserslist/browserslist#readme

>= 1%
last 1 major version
not dead
Chrome >= 60
Firefox >= 60
Edge >= 15.15063
Explorer 11
iOS >= 10
Safari >= 10
Android >= 6
not ExplorerMobile <= 11




; <?php
; include "../connection.php";

; if (isset($_GET['id'])) {
;     $userId = $_GET['id'];

;     $query = "SELECT * FROM users WHERE id = $userId";
;     $result = $conn->query($query);

;     if ($result->num_rows > 0) {
;         echo json_encode($result->fetch_assoc());
;     } else {
;         echo json_encode([]);
;     }
; }
; ?>
